* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  background: white;
  padding: 1% 3%;

}
.Header img {
  height: 70px;
}
.Header ul {
  display: flex;
  gap: 15px;
}

.Header ul a {
  width: max-content;
  display: block;
  color: #000;
}
.Header ul a:hover {
  color: #ff8800;
}
.main .top {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c12 C 96%2c65.8 288%2c247 480%2c281 C 672%2c315 768%2c151.4 960%2c182 C 1152%2c212.6 1344%2c383.6 1440%2c434L1440 560L0 560z' fill='rgba(255%2c 136%2c 0%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.main .top .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: auto;
padding-block: 2% 9%;
}
.main .top .banner img {
  height: 40vw;
  min-height: 380px;
}
.main .banner .bannerText {
  width: 45vw;
}
.main .banner .bannerText p {
  color: black;
}
.main .banner .bannerText p:first-child {
  color: #ff8800;
}

.no-more {

  background-image:
     url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1097%26quot%3b)' fill='none'%3e%3cpath d='M37.59 -34.84L102.54 2.66L102.54 77.66L37.59 115.16L-27.36 77.66L-27.36 2.66zM37.59 190.16L102.54 227.66L102.54 302.66L37.59 340.16L-27.36 302.66L-27.36 227.66zM102.54 527.66L167.5 565.16L167.5 640.16L102.54 677.66L37.59 640.16L37.59 565.16zM167.5 -34.84L232.45 2.66L232.45 77.66L167.5 115.16L102.54 77.66L102.54 2.66zM167.5 190.16L232.45 227.66L232.45 302.66L167.5 340.16L102.54 302.66L102.54 227.66zM167.5 415.16L232.45 452.66L232.45 527.66L167.5 565.16L102.54 527.66L102.54 452.66zM232.45 527.66L297.4 565.16L297.4 640.16L232.45 677.66L167.5 640.16L167.5 565.16zM362.36 302.66L427.31 340.16L427.31 415.16L362.36 452.66L297.4 415.16L297.4 340.16zM297.4 415.16L362.36 452.66L362.36 527.66L297.4 565.16L232.45 527.66L232.45 452.66zM492.27 302.66L557.22 340.16L557.22 415.16L492.27 452.66L427.31 415.16L427.31 340.16zM557.22 -34.84L622.17 2.66L622.17 77.66L557.22 115.16L492.27 77.66L492.27 2.66zM622.17 77.66L687.13 115.16L687.13 190.16L622.17 227.66L557.22 190.16L557.22 115.16zM557.22 190.16L622.17 227.66L622.17 302.66L557.22 340.16L492.27 302.66L492.27 227.66zM622.17 302.66L687.13 340.16L687.13 415.16L622.17 452.66L557.22 415.16L557.22 340.16zM557.22 415.16L622.17 452.66L622.17 527.66L557.22 565.16L492.27 527.66L492.27 452.66zM687.13 -34.84L752.08 2.66L752.08 77.66L687.13 115.16L622.17 77.66L622.17 2.66zM752.08 77.66L817.04 115.16L817.04 190.16L752.08 227.66L687.13 190.16L687.13 115.16zM752.08 302.66L817.04 340.16L817.04 415.16L752.08 452.66L687.13 415.16L687.13 340.16zM687.13 415.16L752.08 452.66L752.08 527.66L687.13 565.16L622.17 527.66L622.17 452.66zM817.03 190.16L881.99 227.66L881.99 302.66L817.03 340.16L752.08 302.66L752.08 227.66zM881.99 527.66L946.94 565.16L946.94 640.16L881.99 677.66L817.03 640.16L817.03 565.16zM946.94 190.16L1011.9 227.66L1011.9 302.66L946.94 340.16L881.99 302.66L881.99 227.66zM946.94 415.16L1011.9 452.66L1011.9 527.66L946.94 565.16L881.99 527.66L881.99 452.66zM1141.8 77.66L1206.76 115.16L1206.76 190.16L1141.8 227.66L1076.85 190.16L1076.85 115.16zM1206.76 -34.84L1271.71 2.66L1271.71 77.66L1206.76 115.16L1141.8 77.66L1141.8 2.66zM1271.71 77.66L1336.66 115.16L1336.66 190.16L1271.71 227.66L1206.76 190.16L1206.76 115.16zM1206.76 415.16L1271.71 452.66L1271.71 527.66L1206.76 565.16L1141.8 527.66L1141.8 452.66zM1336.66 -34.84L1401.62 2.66L1401.62 77.66L1336.66 115.16L1271.71 77.66L1271.71 2.66zM1401.62 77.66L1466.57 115.16L1466.57 190.16L1401.62 227.66L1336.66 190.16L1336.66 115.16zM1336.66 190.16L1401.62 227.66L1401.62 302.66L1336.66 340.16L1271.71 302.66L1271.71 227.66zM1401.62 302.66L1466.57 340.16L1466.57 415.16L1401.62 452.66L1336.66 415.16L1336.66 340.16zM1531.53 77.66L1596.48 115.16L1596.48 190.16L1531.53 227.66L1466.57 190.16L1466.57 115.16zM1531.53 302.66L1596.48 340.16L1596.48 415.16L1531.53 452.66L1466.57 415.16L1466.57 340.16zM1466.57 415.16L1531.53 452.66L1531.53 527.66L1466.57 565.16L1401.62 527.66L1401.62 452.66zM1531.53 527.66L1596.48 565.16L1596.48 640.16L1531.53 677.66L1466.57 640.16L1466.57 565.16z' stroke='rgba(0%2c 0%2c 0%2c 0)' stroke-width='2'%3e%3c/path%3e%3cpath d='M30.09 -34.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM95.04 2.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM95.04 77.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM30.09 115.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-34.86 77.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-34.86 2.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM30.09 190.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM95.04 227.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM95.04 302.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM30.09 340.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-34.86 302.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-34.86 227.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM95.04 527.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM160 565.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM160 640.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM95.04 677.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM30.09 640.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM30.09 565.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM160 -34.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM224.95 2.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM224.95 77.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM160 115.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM160 190.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM224.95 227.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM224.95 302.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM160 340.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM160 415.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM224.95 452.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM224.95 527.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM95.04 452.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM289.9 565.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM289.9 640.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM224.95 677.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM354.86 302.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM419.81 340.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM419.81 415.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM354.86 452.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM289.9 415.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM289.9 340.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM354.86 527.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM484.77 302.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM549.72 340.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM549.72 415.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM484.77 452.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM549.72 -34.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM614.67 2.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM614.67 77.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM549.72 115.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM484.77 77.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM484.77 2.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM679.63 115.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM679.63 190.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM614.67 227.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM549.72 190.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM614.67 302.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM484.77 227.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM679.63 340.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM679.63 415.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM614.67 452.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM614.67 527.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM549.72 565.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM484.77 527.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM679.63 -34.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM744.58 2.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM744.58 77.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM809.54 115.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM809.54 190.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM744.58 227.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM744.58 302.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM809.54 340.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM809.54 415.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM744.58 452.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM744.58 527.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM679.63 565.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM809.53 190.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM874.49 227.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM874.49 302.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM809.53 340.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM874.49 527.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM939.44 565.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM939.44 640.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM874.49 677.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM809.53 640.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM809.53 565.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM939.44 190.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1004.4 227.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1004.4 302.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM939.44 340.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM939.44 415.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1004.4 452.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1004.4 527.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM874.49 452.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1134.3 77.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1199.26 115.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1199.26 190.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1134.3 227.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1069.35 190.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1069.35 115.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1199.26 -34.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1264.21 2.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1264.21 77.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1134.3 2.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1329.16 115.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1329.16 190.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1264.21 227.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1199.26 415.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1264.21 452.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1264.21 527.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1199.26 565.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1134.3 527.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1134.3 452.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1329.16 -34.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1394.12 2.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1394.12 77.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1459.07 115.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1459.07 190.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1394.12 227.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1394.12 302.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1329.16 340.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1264.21 302.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1459.07 340.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1459.07 415.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1394.12 452.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1329.16 415.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1524.03 77.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1588.98 115.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1588.98 190.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1524.03 227.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1524.03 302.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1588.98 340.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1588.98 415.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1524.03 452.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1524.03 527.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1459.07 565.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1394.12 527.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1588.98 565.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1588.98 640.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1524.03 677.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1459.07 640.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/path%3e%3cpath d='M57.18 408.89L90.95 428.39L90.95 467.39L57.18 486.89L23.4 467.39L23.4 428.39zM90.95 584.39L124.73 603.89L124.73 642.89L90.95 662.39L57.18 642.89L57.18 603.89zM327.38 525.89L361.16 545.39L361.16 584.39L327.38 603.89L293.61 584.39L293.61 545.39zM428.71 350.39L462.49 369.89L462.49 408.89L428.71 428.39L394.94 408.89L394.94 369.89zM665.14 408.89L698.92 428.39L698.92 467.39L665.14 486.89L631.37 467.39L631.37 428.39zM732.69 57.89L766.47 77.39L766.47 116.39L732.69 135.89L698.92 116.39L698.92 77.39zM732.69 525.89L766.47 545.39L766.47 584.39L732.69 603.89L698.92 584.39L698.92 545.39zM766.47 233.39L800.25 252.89L800.25 291.89L766.47 311.39L732.69 291.89L732.69 252.89zM867.8 291.89L901.57 311.39L901.57 350.39L867.8 369.89L834.02 350.39L834.02 311.39zM901.57 -0.61L935.35 18.89L935.35 57.89L901.57 77.39L867.8 57.89L867.8 18.89zM969.13 233.39L1002.9 252.89L1002.9 291.89L969.13 311.39L935.35 291.89L935.35 252.89zM1070.45 57.89L1104.23 77.39L1104.23 116.39L1070.45 135.89L1036.68 116.39L1036.68 77.39zM1104.23 233.39L1138.01 252.89L1138.01 291.89L1104.23 311.39L1070.45 291.89L1070.45 252.89zM1138.01 408.89L1171.78 428.39L1171.78 467.39L1138.01 486.89L1104.23 467.39L1104.23 428.39zM1205.56 525.89L1239.33 545.39L1239.33 584.39L1205.56 603.89L1171.78 584.39L1171.78 545.39zM1239.33 -0.61L1273.11 18.89L1273.11 57.89L1239.33 77.39L1205.56 57.89L1205.56 18.89zM1239.33 116.39L1273.11 135.89L1273.11 174.89L1239.33 194.39L1205.56 174.89L1205.56 135.89zM1239.33 350.39L1273.11 369.89L1273.11 408.89L1239.33 428.39L1205.56 408.89L1205.56 369.89zM1273.11 408.89L1306.89 428.39L1306.89 467.39L1273.11 486.89L1239.33 467.39L1239.33 428.39zM1273.11 525.89L1306.89 545.39L1306.89 584.39L1273.11 603.89L1239.33 584.39L1239.33 545.39zM1374.44 -0.61L1408.21 18.89L1408.21 57.89L1374.44 77.39L1340.66 57.89L1340.66 18.89zM1408.21 57.89L1441.99 77.39L1441.99 116.39L1408.21 135.89L1374.44 116.39L1374.44 77.39zM1408.21 408.89L1441.99 428.39L1441.99 467.39L1408.21 486.89L1374.44 467.39L1374.44 428.39zM1441.99 233.39L1475.77 252.89L1475.77 291.89L1441.99 311.39L1408.21 291.89L1408.21 252.89z' stroke='rgba(255%2c 136%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1097'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.no-more .no-more-text {
  width: 45vw;
}
.main p{
  color: #000;
}
.no-more .no-more-text button {
  border: none;
  background-color: #000;
  color: white;
  padding: 3% 4%;
  font-size: var(--p);
  margin-top: 20px;
  cursor: pointer;
}
.no-more img {
  height: 40vw;
  min-height: 380px;
  -webkit-border-bottom-left-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-bottomleft: 50px;
  -moz-border-radius-bottomright: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.Fold3, .Fold4{
  display: flex;
  gap: 10px;
padding: 10%;
align-items: center;
justify-content: space-between;
background-attachment: fixed;
position: relative;
}
.Fold3{
  background-color: rgb(30, 28, 28);
}
.Fold3Text{
  color: white;
  width: 45%;
}
.Fold3Text p{
  color: white;
}
.Fold3Text button{
  width: 35%;
  padding: 10px;
  background-color: white;
  margin-top: 5%;
  transition: background .25s linear;
  font-size: 16px;
  border: 2px solid #1E1C1C;
}
.Fold3Text button:hover{
background-color: transparent;
border: 2px solid white;
color: white;
}
.Fold3List div{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 10px;
  border:1px solid #000;
  border-radius: 5px;
  padding-inline: 10px;
  background-color: white;
}

.Fold3List div h2{
  font-weight: 700;
 color: #ff8800;
  line-height: 250%;
  padding-left: 3px;
  font-size: 40px;

}
.Fold4{
  display: none;
}
.Fold4 img{
height: 30vw;
}
.Fold4 .quote{
background-color: white;
position: absolute;
padding: 10% 3%;
width: 45vw;
line-height: 50px;
top: 50%;
right: 10%;
box-shadow: 0px 1px 20px rgb(180, 178, 178);
}

.Fold4 .quote p{
  font-size: 30px;
}
.Fold4 .quote p::first-line, .Fold4 .quote p::l{
  font-size: 15vw;
  color: rgb(46, 46, 46);
}