* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::root{
  --h1 :48px;
  --h2 :40px;
  --h3 :20px;
  --p :16px;
}
h1{
  font-size: 48px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 20px
}
p{
  font-size: 16px;
  color:rgb(187, 181, 181);
}

body{
  background-color: black;
  color: white;
}
#hr{
  width: 250px;
  box-shadow: inset 1px 1px 50px rgb(0, 0, 0);
  margin: 20px auto;
  margin-bottom: 150px;
}
#header{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2640' height='1200' preserveAspectRatio='none' viewBox='0 0 2640 1200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask8865%26quot%3b)' fill='none'%3e%3ccircle r='100' cx='527.76' cy='1136.9' stroke='rgba(248%2c 162%2c 13%2c 1)' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/circle%3e%3cpath d='M2337.34 461.46a5.6 5.6 0 1 0-10.34-4.3 5.6 5.6 0 1 0 10.34 4.3zM2322.57 455.32a5.6 5.6 0 1 0-10.34-4.3 5.6 5.6 0 1 0 10.34 4.3zM2307.79 449.18a5.6 5.6 0 1 0-10.34-4.3 5.6 5.6 0 1 0 10.34 4.3zM2293.02 443.03a5.6 5.6 0 1 0-10.34-4.3 5.6 5.6 0 1 0 10.34 4.3zM2373.03 458.98a5.6 5.6 0 1 0-10.34-4.3 5.6 5.6 0 1 0 10.34 4.3zM2358.26 452.83a5.6 5.6 0 1 0-10.34-4.3 5.6 5.6 0 1 0 10.34 4.3zM2343.48 446.69a5.6 5.6 0 1 0-10.34-4.3 5.6 5.6 0 1 0 10.34 4.3zM2328.71 440.55a5.6 5.6 0 1 0-10.34-4.3 5.6 5.6 0 1 0 10.34 4.3z' stroke='%23037b0b' stroke-width='2.21'%3e%3c/path%3e%3cpath d='M2385.0299999999997 669.6700000000001 L2690.85 821.5500000000001L2319.423955586407 964.1260444135928z' stroke='%23037b0b' stroke-width='1.19' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3cpath d='M399.77 355.74 L206.03 551.6700000000001L178.27971209668493 329.084712096685z' stroke='%23d3b714' stroke-width='2.43'%3e%3c/path%3e%3cpath d='M427.83 141.43a5.6 5.6 0 1 0-10.83-2.83 5.6 5.6 0 1 0 10.83 2.83zM412.35 137.39a5.6 5.6 0 1 0-10.84-2.83 5.6 5.6 0 1 0 10.84 2.83zM396.87 133.35a5.6 5.6 0 1 0-10.84-2.83 5.6 5.6 0 1 0 10.84 2.83zM381.39 129.31a5.6 5.6 0 1 0-10.84-2.83 5.6 5.6 0 1 0 10.84 2.83z' fill='rgba(248%2c 162%2c 13%2c 1)'%3e%3c/path%3e%3crect width='351' height='351' clip-path='url(%26quot%3b%23SvgjsClipPath8866%26quot%3b)' x='2088.19' y='641.11' fill='url(%23SvgjsPattern8867)' transform='rotate(299.16%2c 2263.69%2c 816.61)'%3e%3c/rect%3e%3crect width='420' height='420' clip-path='url(%26quot%3b%23SvgjsClipPath8868%26quot%3b)' x='1861.33' y='726.65' fill='url(%23SvgjsPattern8869)' transform='rotate(106.27%2c 2071.33%2c 936.65)'%3e%3c/rect%3e%3crect width='696' height='696' clip-path='url(%26quot%3b%23SvgjsClipPath8870%26quot%3b)' x='1046.31' y='227.57' fill='url(%23SvgjsPattern8871)' transform='rotate(56.71%2c 1394.31%2c 575.57)'%3e%3c/rect%3e%3crect width='177.48' height='177.48' clip-path='url(%26quot%3b%23SvgjsClipPath8872%26quot%3b)' x='-63.94' y='111.18' fill='url(%23SvgjsPattern8873)' transform='rotate(284.38%2c 24.8%2c 199.92)'%3e%3c/rect%3e%3cpath d='M2820.96 1395.01 L2738.92 1237.59L2886.348726160061 1209.8912738399395z' stroke='%23d3b714' stroke-width='1.89'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask8865'%3e%3crect width='2640' height='1200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='11.7' height='11.7' patternUnits='userSpaceOnUse' id='SvgjsPattern8867'%3e%3cpath d='M0 11.7L5.85 0L11.7 11.7' stroke='%23037b0b' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath8866'%3e%3ccircle r='87.75' cx='2263.69' cy='816.61'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='420' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern8869'%3e%3crect width='420' height='3' x='0' y='0' fill='%23d3b714'%3e%3c/rect%3e%3crect width='420' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath8868'%3e%3ccircle r='105' cx='2071.33' cy='936.65'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern8871'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(248%2c 162%2c 13%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath8870'%3e%3ccircle r='174' cx='1394.31' cy='575.57'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='177.48' height='9.86' patternUnits='userSpaceOnUse' id='SvgjsPattern8873'%3e%3crect width='177.48' height='4.93' x='0' y='0' fill='%23037b0b'%3e%3c/rect%3e%3crect width='177.48' height='4.93' x='0' y='4.93' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath8872'%3e%3ccircle r='44.37' cx='24.8' cy='199.92'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1182%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1183)'%3e%3c/rect%3e%3cpath d='M80.26409471540964 294.4083406732863L69.63316673965727 395.5548639211852 181.41061796330848 305.0392686490387z' fill='rgba(255%2c 136%2c 0%2c 0.42)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M982.8504033914634 432.2205161477637L1070.7933583999209 301.83972359655263 940.4125658487097 213.89676858809523 852.4696108402524 344.2775611393063z' fill='rgba(255%2c 136%2c 0%2c 0.42)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M284.31291399263114 351.0892829878916L294.9139295096669 229.91912116578783 173.74376768756315 219.31810564875207 163.1427521705274 340.4882674708558z' fill='rgba(255%2c 136%2c 0%2c 0.42)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1108.7509898175813 7.252806255571144L982.4762283348423-91.40384988145685 883.8195721978143 34.8709116012821 1010.0943336805533 133.5275677383101z' fill='rgba(255%2c 136%2c 0%2c 0.42)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1182'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1183'%3e%3cstop stop-color='rgba(16%2c 60%2c 117%2c 0)' offset='1'%3e%3c/stop%3e%3cstop stop-color='rgba(16%2c 60%2c 117%2c 0)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-size: cover ;

}
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  align-items: center;
  gap: 20px;
}
#nav img{
height: 70px;
}
#header #banner{
  text-align: center;
  padding: 9% 20%;
}
.flex{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}
 .actionBtn{
  padding: 15px;
  margin-top: 20px;
  background-color: #FF8800;
  color: white;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 1px 2px 10px #FF8800;
  border: none;
  cursor: pointer;
}
 .actionBtn:hover{
  background-color: #FF8800;
  box-shadow: 2px 2px 15px #F8A20D;
}

#header #banner  #tm{
  color: #11dd1f;
  font-weight: 700;
  opacity: .6;
}
#xend-offers{
  padding: 5% 0;
}
#xend-offers h2{
text-align: center;
margin:20px 0px;
padding: 3% 0px;
}

.offer{
  background-color: rgba(245, 235, 190, 0.185);
  padding: 2.5%;
  border-radius: 4px;
  width: 23vw;
  align-items: center;
  margin: 5px;
  min-width: 245px;
  text-align: center;
  transition: background .25s ease-in-out;
}

.offer:hover{
  background-color: rgba(245, 235, 190, 0.384);

}

.offer h3{
  margin-bottom: 12px;
}

.offer img{
  height: 70px;
  opacity: .7;
  display: block;
  margin: 15px auto;
}
#xcloud{
text-align: center;
margin-bottom: 25px;
}
#faqs > h2, #faqs > p{
  text-align: center;
  margin-bottom: 30px;
}
#faqs p{
  margin-bottom: 50px;
}
#faqs #faqsContainer{
margin:5% auto ;
width: 70vw;
justify-content: space-between;
}
.faq{
width: 45%;
border-top: 5px solid #ff88004f;
text-align: center;
}
footer{
  text-align: center;
  margin-bottom: 10px;
}
#FloatBtn{
  position: fixed;
  bottom: 2%;
  right: 2%;
  background-color: #FF8800;
  padding: 1px 7px;
  border-radius: 3px;
  font-size: 30px;
  color: white;
  box-shadow:0px 1px 5px #F8A20D;
  cursor: pointer;
  text-decoration: none;

}
#FloatBtn:hover{
  box-shadow:0px 1px 10px #f5a925;
}